In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df1 = pd.read_excel("Cat.xlsx", sheet_name= "Cat4 Testing with PrepSkills (R")
df2 =pd.read_excel("Cat.xlsx",sheet_name ="Dec 31 consolidated version")

In [3]:
df1 = df1.rename(columns={
    
    'Timestamp': 'timestamp',
    'Results Sent': 'results_sent',
    'With Reports ': 'with_reports',
    'Instructions sent': 'instructions_sent',
    'Email Address': 'email_address',
    'CAT4 ID Number': 'cat4_id',
    'Student FIRST name': 'first_name',
    'Student LAST name': 'last_name',
    'Student Birth MONTH': 'birth_month',
    
})

df1

,timestamp,results_sent,with_reports,instructions_sent,email_address,cat4_id,first_name,last_name,birth_month,Student Birth DAY,Student Birth YEAR,Student GENDER,Parent/Guardian FULL NAME,Contact Phone Number,One Child/Siblings/,SSAT
0,11/15/2021 18:42:33,2021-11-22,1.0,2021-11-16,kwasi52@yahoo.com,1040,Kendra,Addo,JUN,27.0,2008.0,Female,Kwasi Addo,(416) 655-8293,NaN,https://answerkey.net/app/custom/65/prepskills...
1,11/15/2021 12:15:48,2021-12-03,1.0,2021-11-15,shriak87@gmail.com,1015,Sanika,Akkalkotkar,AUG,11.0,2008.0,Female,Shrikant Akkalkotkar,(437) 777-2219,NaN,https://answerkey.net/app/custom/65/prepskills...
2,11/21/2021 19:58:56,2021-11-29,1.0,2021-11-22,aboadnan2006@yahoo.com,1075,Amro,Alazzawi,MAY,5.0,2008.0,Male,Saba Ibrahim,(647) 993-2039,NaN,https://answerkey.net/app/custom/65/prepskills...
3,11/15/2021 17:30:20,2021-11-18,1.0,2021-11-16,fredshien@yahoo.com,1036,Nkemakolem,Ashien,MAR,3.0,2008.0,Female,Fred Ashien,(647) 618-5872,NaN,https://answerkey.net/app/custom/65/prepskills...
4,11/18/2021 9:05:29,2021-12-07,1.0,2021-11-18,ohm_rudra@yahoo.com,1063,Shivam,Bhatt,MAR,6.0,2008.0,Male,Harshang Bhatt,(906) 457-9320,NaN,https://answerkey.net/app/custom/65/prepskills...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaT,NaN,NaT,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df2 = df2.rename(columns={
    'Order #': 'order_number',
    'Timestamp': 'timestamp',
    'Results Sent': 'results_sent',
    'With Reports ': 'with_reports',
    'Instructions sent': 'instructions_sent',
    'Email Address': 'email_address',
    'CAT4 ID Number': 'cat4_id',
    'Student FIRST name': 'first_name',
    'Student LAST name': 'last_name',
    'Student Birth Month': 'birth_month',
    
})
df2

,order_number,timestamp,results_sent,with_reports,instructions_sent,email_address,cat4_id,first_name,last_name,Student Birth MONTH,...,16. How many factors does the number 24 have?,17. 2[sup]3[/sup]x 2[sup]2[/sup]x 2[sup]3[/sup]=,"18. For all integers, Î¨ s = ([sup]s[/sup]/(s-1)) + 1&#13;&#10;&#13;&#10;Solve 1/2 (Î¨4)","19. In one year, Ryan will be three times as old as Liana. If Liana is 8 years old now how old is Ryan now?",20,21. One-half the difference between the number of degrees in a square and the number of degrees in a triangle is,"22. Janet has x dollars. Michael has $5 more than Janet. If Michael gives Janet $10, then, in terms of x, how many dollars will Michael have?","23. Stefan and Alexander distributed [sup]1[/sup]/[sub]2[/sub] of the PREPSSAT brochures on Monday, and [sup]1[/sup]/[sub]8[/sub] of the remaining brochures on Tuesday. If 63 brochures remained, how many brochures did the boys start with on Monday morning?",24. Where does the line y = x - 3 cross the y-axis?,"25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?"
0,1.0,11/15/2021 18:42:33,2021-11-22,1,2021-11-16,kwasi52@yahoo.com,1040.0,Kendra,Addo,JUN,...,[8],[2[sup]8[/sup]],[2],[23],[Î¸ = 55[sup]0[/sup]],[180],[x-15],[152],"[(0, -3)]",[15 feet]
1,2.0,11/15/2021 12:15:48,2021-12-03,1,2021-11-15,shriak87@gmail.com,1015.0,Sanika,Akkalkotkar,AUG,...,[8],[2[sup]8[/sup]],[4[sup]1[/sup]/[sub]3[/sub]],[23],[Î¸ = 15[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
2,3.0,11/21/2021 19:58:56,2021-11-29,1,2021-11-22,aboadnan2006@yahoo.com,1075.0,Amro,Alazzawi,MAY,...,[6],[2[sup]16[/sup]],[2],[23],[Î¸ = 25[sup]0[/sup]],[240],[x-10],[143],"[(0, -3)]",[9 feet]
3,4.0,11/15/2021 17:30:20,2021-11-18,1,2021-11-16,fredshien@yahoo.com,1036.0,Nkemakolem,Ashien,MAR,...,[8],[2[sup]8[/sup]],[1[sup]1[/sup]/[sub]6[/sub]],[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[15 feet]
4,5.0,11/18/2021 9:05:29,2021-12-07,1,2021-11-18,ohm_rudra@yahoo.com,1063.0,Shivam,Bhatt,MAR,...,[8],[2[sup]8[/sup]],0,[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,NaN,NaN,NaT,none,NaT,rs.rishita.sharma@gmail.com,1089.0,Rishita,Sharma,AUG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaT,none,NaT,tingtingou@hotmail.com,1022.0,Ryan,Eng,SEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaT,none,NaT,nirupama79@gmail.com,1085.0,Shrinidhi,Sathishkumar,FEB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaT,none,NaT,4everacrazykid@gmail.com,1067.0,Skylar,Dias,FEB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaT,none,NaT,maria_jakub@yahoo.ca,1061.0,Tafari,Harrison,FEB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#df = pd.merge(df1, df2, on='cat4_id', how='inner')

In [6]:
df = pd.concat([df1, df2],axis =1)

In [7]:
df

,timestamp,results_sent,with_reports,instructions_sent,email_address,cat4_id,first_name,last_name,birth_month,Student Birth DAY,...,16. How many factors does the number 24 have?,17. 2[sup]3[/sup]x 2[sup]2[/sup]x 2[sup]3[/sup]=,"18. For all integers, Î¨ s = ([sup]s[/sup]/(s-1)) + 1&#13;&#10;&#13;&#10;Solve 1/2 (Î¨4)","19. In one year, Ryan will be three times as old as Liana. If Liana is 8 years old now how old is Ryan now?",20,21. One-half the difference between the number of degrees in a square and the number of degrees in a triangle is,"22. Janet has x dollars. Michael has $5 more than Janet. If Michael gives Janet $10, then, in terms of x, how many dollars will Michael have?","23. Stefan and Alexander distributed [sup]1[/sup]/[sub]2[/sub] of the PREPSSAT brochures on Monday, and [sup]1[/sup]/[sub]8[/sub] of the remaining brochures on Tuesday. If 63 brochures remained, how many brochures did the boys start with on Monday morning?",24. Where does the line y = x - 3 cross the y-axis?,"25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?"
0,11/15/2021 18:42:33,2021-11-22,1.0,2021-11-16,kwasi52@yahoo.com,1040,Kendra,Addo,JUN,27.0,...,[8],[2[sup]8[/sup]],[2],[23],[Î¸ = 55[sup]0[/sup]],[180],[x-15],[152],"[(0, -3)]",[15 feet]
1,11/15/2021 12:15:48,2021-12-03,1.0,2021-11-15,shriak87@gmail.com,1015,Sanika,Akkalkotkar,AUG,11.0,...,[8],[2[sup]8[/sup]],[4[sup]1[/sup]/[sub]3[/sub]],[23],[Î¸ = 15[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
2,11/21/2021 19:58:56,2021-11-29,1.0,2021-11-22,aboadnan2006@yahoo.com,1075,Amro,Alazzawi,MAY,5.0,...,[6],[2[sup]16[/sup]],[2],[23],[Î¸ = 25[sup]0[/sup]],[240],[x-10],[143],"[(0, -3)]",[9 feet]
3,11/15/2021 17:30:20,2021-11-18,1.0,2021-11-16,fredshien@yahoo.com,1036,Nkemakolem,Ashien,MAR,3.0,...,[8],[2[sup]8[/sup]],[1[sup]1[/sup]/[sub]6[/sub]],[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[15 feet]
4,11/18/2021 9:05:29,2021-12-07,1.0,2021-11-18,ohm_rudra@yahoo.com,1063,Shivam,Bhatt,MAR,6.0,...,[8],[2[sup]8[/sup]],0,[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaT,NaN,NaT,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = df.loc[:, ~df.columns.duplicated()]
df

,timestamp,results_sent,with_reports,instructions_sent,email_address,cat4_id,first_name,last_name,birth_month,Student Birth DAY,...,16. How many factors does the number 24 have?,17. 2[sup]3[/sup]x 2[sup]2[/sup]x 2[sup]3[/sup]=,"18. For all integers, Î¨ s = ([sup]s[/sup]/(s-1)) + 1&#13;&#10;&#13;&#10;Solve 1/2 (Î¨4)","19. In one year, Ryan will be three times as old as Liana. If Liana is 8 years old now how old is Ryan now?",20,21. One-half the difference between the number of degrees in a square and the number of degrees in a triangle is,"22. Janet has x dollars. Michael has $5 more than Janet. If Michael gives Janet $10, then, in terms of x, how many dollars will Michael have?","23. Stefan and Alexander distributed [sup]1[/sup]/[sub]2[/sub] of the PREPSSAT brochures on Monday, and [sup]1[/sup]/[sub]8[/sub] of the remaining brochures on Tuesday. If 63 brochures remained, how many brochures did the boys start with on Monday morning?",24. Where does the line y = x - 3 cross the y-axis?,"25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?"
0,11/15/2021 18:42:33,2021-11-22,1.0,2021-11-16,kwasi52@yahoo.com,1040,Kendra,Addo,JUN,27.0,...,[8],[2[sup]8[/sup]],[2],[23],[Î¸ = 55[sup]0[/sup]],[180],[x-15],[152],"[(0, -3)]",[15 feet]
1,11/15/2021 12:15:48,2021-12-03,1.0,2021-11-15,shriak87@gmail.com,1015,Sanika,Akkalkotkar,AUG,11.0,...,[8],[2[sup]8[/sup]],[4[sup]1[/sup]/[sub]3[/sub]],[23],[Î¸ = 15[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
2,11/21/2021 19:58:56,2021-11-29,1.0,2021-11-22,aboadnan2006@yahoo.com,1075,Amro,Alazzawi,MAY,5.0,...,[6],[2[sup]16[/sup]],[2],[23],[Î¸ = 25[sup]0[/sup]],[240],[x-10],[143],"[(0, -3)]",[9 feet]
3,11/15/2021 17:30:20,2021-11-18,1.0,2021-11-16,fredshien@yahoo.com,1036,Nkemakolem,Ashien,MAR,3.0,...,[8],[2[sup]8[/sup]],[1[sup]1[/sup]/[sub]6[/sub]],[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[15 feet]
4,11/18/2021 9:05:29,2021-12-07,1.0,2021-11-18,ohm_rudra@yahoo.com,1063,Shivam,Bhatt,MAR,6.0,...,[8],[2[sup]8[/sup]],0,[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaT,NaN,NaT,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df=df[df['timestamp'].notna()]

In [10]:
df

,timestamp,results_sent,with_reports,instructions_sent,email_address,cat4_id,first_name,last_name,birth_month,Student Birth DAY,...,16. How many factors does the number 24 have?,17. 2[sup]3[/sup]x 2[sup]2[/sup]x 2[sup]3[/sup]=,"18. For all integers, Î¨ s = ([sup]s[/sup]/(s-1)) + 1&#13;&#10;&#13;&#10;Solve 1/2 (Î¨4)","19. In one year, Ryan will be three times as old as Liana. If Liana is 8 years old now how old is Ryan now?",20,21. One-half the difference between the number of degrees in a square and the number of degrees in a triangle is,"22. Janet has x dollars. Michael has $5 more than Janet. If Michael gives Janet $10, then, in terms of x, how many dollars will Michael have?","23. Stefan and Alexander distributed [sup]1[/sup]/[sub]2[/sub] of the PREPSSAT brochures on Monday, and [sup]1[/sup]/[sub]8[/sub] of the remaining brochures on Tuesday. If 63 brochures remained, how many brochures did the boys start with on Monday morning?",24. Where does the line y = x - 3 cross the y-axis?,"25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?"
0,11/15/2021 18:42:33,2021-11-22,1.0,2021-11-16,kwasi52@yahoo.com,1040,Kendra,Addo,JUN,27.0,...,[8],[2[sup]8[/sup]],[2],[23],[Î¸ = 55[sup]0[/sup]],[180],[x-15],[152],"[(0, -3)]",[15 feet]
1,11/15/2021 12:15:48,2021-12-03,1.0,2021-11-15,shriak87@gmail.com,1015,Sanika,Akkalkotkar,AUG,11.0,...,[8],[2[sup]8[/sup]],[4[sup]1[/sup]/[sub]3[/sub]],[23],[Î¸ = 15[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
2,11/21/2021 19:58:56,2021-11-29,1.0,2021-11-22,aboadnan2006@yahoo.com,1075,Amro,Alazzawi,MAY,5.0,...,[6],[2[sup]16[/sup]],[2],[23],[Î¸ = 25[sup]0[/sup]],[240],[x-10],[143],"[(0, -3)]",[9 feet]
3,11/15/2021 17:30:20,2021-11-18,1.0,2021-11-16,fredshien@yahoo.com,1036,Nkemakolem,Ashien,MAR,3.0,...,[8],[2[sup]8[/sup]],[1[sup]1[/sup]/[sub]6[/sub]],[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[15 feet]
4,11/18/2021 9:05:29,2021-12-07,1.0,2021-11-18,ohm_rudra@yahoo.com,1063,Shivam,Bhatt,MAR,6.0,...,[8],[2[sup]8[/sup]],0,[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,11/16/2021 20:09:53,2021-11-22,1.0,2021-11-17,zhaoxiaom@hotmail.com,1057,Jason,Wang,NOV,13.0,...,[8],[2[sup]8[/sup]],[4[sup]1[/sup]/[sub]3[/sub]],[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[15 feet]
65,11/15/2021 11:54:49,2021-11-18,1.0,2021-11-15,sliu310@yahoo.ca,1012,zishan,xu,OCT,8.0,...,[8],[2[sup]8[/sup]],[1[sup]1[/sup]/[sub]6[/sub]],[26],[Î¸ = 25[sup]0[/sup]],[90],[x-15],[144],"[(0, -3)]",[15 feet]
66,11/22/2021 17:39:24,2021-11-26,1.0,2021-11-23,pavliashraf2000@yahoo.com,1078,Miray,Yacoub,SEP,20.0,...,[8],[2[sup]8[/sup]],[[sup]4[/sup]/[sub]3[/sub]],[23],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[143],"[(-3, 3)]",[9 feet]
67,11/15/2021 13:00:58,2021-12-07,1.0,2021-11-15,mikeyuan2008@gmail.com,1018,Luke,Yuan,JAN,31.0,...,[8],[2[sup]8[/sup]],[1[sup]1[/sup]/[sub]6[/sub]],[27],[Î¸ = 55[sup]0[/sup]],[90],[x-5],[143],"[(0, -3)]",[15 feet]
68,11/23/2021 18:37:14,2021-12-03,1.0,2021-11-24,zablanmichelle@gmail.com,1080,Aiden,Zablan,APR,9.0,...,[8],[2[sup]8[/sup]],0,[23],[Î¸ = 25[sup]0[/sup]],[90],[x-5],0,"[(0, -3)]",[9 feet]

In [11]:
df['timestamp'] = pd.to_datetime(df['timestamp']).astype('int64')
df['results_sent'] = pd.to_datetime(df['results_sent']).astype('int64')
df['Started'] = pd.to_datetime(df['Started']).astype('int64')
df['Completed'] = pd.to_datetime(df['Completed']).astype('int64')
df['instructions_sent'] = pd.to_datetime(df['instructions_sent']).astype('int64')

<ipython-input-11-da18ae5dc988>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['timestamp'] = pd.to_datetime(df['timestamp']).astype('int64')
<ipython-input-11-da18ae5dc988>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['results_sent'] = pd.to_datetime(df['results_sent']).astype('int64')
<ipython-input-11-da18ae5dc988>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Started'] = pd.to_datetime(df['Started']).astype('int64')
<ipython-input-11-da18ae5dc988>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Completed'] = pd.to_datetime(df['Completed']).astype('int64')
<ipython-input-11-da18ae5dc988>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['instructions_sent'] = pd.to_datetime(df['instructions_sent']).astype('int64')

In [12]:
df

,timestamp,results_sent,with_reports,instructions_sent,email_address,cat4_id,first_name,last_name,birth_month,Student Birth DAY,...,16. How many factors does the number 24 have?,17. 2[sup]3[/sup]x 2[sup]2[/sup]x 2[sup]3[/sup]=,"18. For all integers, Î¨ s = ([sup]s[/sup]/(s-1)) + 1&#13;&#10;&#13;&#10;Solve 1/2 (Î¨4)","19. In one year, Ryan will be three times as old as Liana. If Liana is 8 years old now how old is Ryan now?",20,21. One-half the difference between the number of degrees in a square and the number of degrees in a triangle is,"22. Janet has x dollars. Michael has $5 more than Janet. If Michael gives Janet $10, then, in terms of x, how many dollars will Michael have?","23. Stefan and Alexander distributed [sup]1[/sup]/[sub]2[/sub] of the PREPSSAT brochures on Monday, and [sup]1[/sup]/[sub]8[/sub] of the remaining brochures on Tuesday. If 63 brochures remained, how many brochures did the boys start with on Monday morning?",24. Where does the line y = x - 3 cross the y-axis?,"25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?"
0,1637001753000000000,1637539200000000000,1.0,1637020800000000000,kwasi52@yahoo.com,1040,Kendra,Addo,JUN,27.0,...,[8],[2[sup]8[/sup]],[2],[23],[Î¸ = 55[sup]0[/sup]],[180],[x-15],[152],"[(0, -3)]",[15 feet]
1,1636978548000000000,1638489600000000000,1.0,1636934400000000000,shriak87@gmail.com,1015,Sanika,Akkalkotkar,AUG,11.0,...,[8],[2[sup]8[/sup]],[4[sup]1[/sup]/[sub]3[/sub]],[23],[Î¸ = 15[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
2,1637524736000000000,1638144000000000000,1.0,1637539200000000000,aboadnan2006@yahoo.com,1075,Amro,Alazzawi,MAY,5.0,...,[6],[2[sup]16[/sup]],[2],[23],[Î¸ = 25[sup]0[/sup]],[240],[x-10],[143],"[(0, -3)]",[9 feet]
3,1636997420000000000,1637193600000000000,1.0,1637020800000000000,fredshien@yahoo.com,1036,Nkemakolem,Ashien,MAR,3.0,...,[8],[2[sup]8[/sup]],[1[sup]1[/sup]/[sub]6[/sub]],[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[15 feet]
4,1637226329000000000,1638835200000000000,1.0,1637193600000000000,ohm_rudra@yahoo.com,1063,Shivam,Bhatt,MAR,6.0,...,[8],[2[sup]8[/sup]],0,[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[9 feet]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,1637093393000000000,1637539200000000000,1.0,1637107200000000000,zhaoxiaom@hotmail.com,1057,Jason,Wang,NOV,13.0,...,[8],[2[sup]8[/sup]],[4[sup]1[/sup]/[sub]3[/sub]],[26],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[144],"[(0, -3)]",[15 feet]
65,1636977289000000000,1637193600000000000,1.0,1636934400000000000,sliu310@yahoo.ca,1012,zishan,xu,OCT,8.0,...,[8],[2[sup]8[/sup]],[1[sup]1[/sup]/[sub]6[/sub]],[26],[Î¸ = 25[sup]0[/sup]],[90],[x-15],[144],"[(0, -3)]",[15 feet]
66,1637602764000000000,1637884800000000000,1.0,1637625600000000000,pavliashraf2000@yahoo.com,1078,Miray,Yacoub,SEP,20.0,...,[8],[2[sup]8[/sup]],[[sup]4[/sup]/[sub]3[/sub]],[23],[Î¸ = 25[sup]0[/sup]],[90],[x-5],[143],"[(-3, 3)]",[9 feet]
67,1636981258000000000,1638835200000000000,1.0,1636934400000000000,mikeyuan2008@gmail.com,1018,Luke,Yuan,JAN,31.0,...,[8],[2[sup]8[/sup]],[1[sup]1[/sup]/[sub]6[/sub]],[27],[Î¸ = 55[sup]0[/sup]],[90],[x-5],[143],"[(0, -3)]",[15 feet]
68,1637692634000000000,1638489600000000000,1.0,1637712000000000000,zablanmichelle@gmail.com,1080,Aiden,Zablan,APR,9.0,...,[8],[2[sup]8[/sup]],0,[23],[Î¸ = 25[sup]0[/sup]],[90],[x-5],0,"[(0, -3)]",[9 feet]

In [13]:
df = pd.get_dummies(df)

/usr/local/lib/python3.8/dist-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

In [14]:
df

,timestamp,results_sent,with_reports,instructions_sent,Student Birth DAY,Student Birth YEAR,order_number,Started,Completed,Points Earned,...,"24. Where does the line y = x - 3 cross the y-axis?_[(-3, 0)]","24. Where does the line y = x - 3 cross the y-axis?_[(-3, 3)]","24. Where does the line y = x - 3 cross the y-axis?_[(0, -3)]","24. Where does the line y = x - 3 cross the y-axis?_[(0, 0)]","24. Where does the line y = x - 3 cross the y-axis?_[(0, 3)]","25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?_0","25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?_[11 feet]","25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?_[12 feet]","25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?_[15 feet]","25. A ladder is extended to a length of 17 feet and leaned against a wall. If the base of the ladder is 8 feet from the wall, how high up the wall does the ladder reach?_[9 feet]"
0,1637001753000000000,1637539200000000000,1.0,1637020800000000000,27.0,2008.0,1.0,1638709308000000000,1638717487000000000,116.0,...,0,0,1,0,0,0,0,0,1,0
1,1636978548000000000,1638489600000000000,1.0,1636934400000000000,11.0,2008.0,2.0,1638709302000000000,1638716195000000000,109.0,...,0,0,1,0,0,0,0,0,0,1
2,1637524736000000000,1638144000000000000,1.0,1637539200000000000,5.0,2008.0,3.0,1638612181000000000,1638620375000000000,63.0,...,0,0,1,0,0,0,0,0,0,1
3,1636997420000000000,1637193600000000000,1.0,1637020800000000000,3.0,2008.0,4.0,1638709288000000000,1638717402000000000,126.0,...,0,0,1,0,0,0,0,0,1,0
4,1637226329000000000,1638835200000000000,1.0,1637193600000000000,6.0,2008.0,5.0,1638709303000000000,1638717347000000000,129.0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,1637093393000000000,1637539200000000000,1.0,1637107200000000000,13.0,2008.0,65.0,1638612279000000000,1638617592000000000,92.0,...,0,0,1,0,0,0,0,0,1,0
65,1636977289000000000,1637193600000000000,1.0,1636934400000000000,8.0,2008.0,66.0,1638612129000000000,1638619546000000000,119.0,...,0,0,1,0,0,0,0,0,1,0
66,1637602764000000000,1637884800000000000,1.0,1637625600000000000,20.0,2008.0,67.0,1638709224000000000,1638716351000000000,107.0,...,0,1,0,0,0,0,0,0,0,1
67,1636981258000000000,1638835200000000000,1.0,1636934400000000000,31.0,2008.0,68.0,1638709218000000000,1638714437000000000,118.0,...,0,0,1,0,0,0,0,0,1,0
68,1637692634000000000,1638489600000000000,1.0,1637712000000000000,9.0,2008.0,69.0,1638709231000000000,1638714905000000000,104.0,...,0,0,1,0,0,0,0,0,0,1

In [15]:
print(df['timestamp'].dtype)
print(df['instructions_sent'].dtype)

int64
int64

In [16]:
df['timestamp'] = df['timestamp'].astype('float64')
df['results_sent'] = df['results_sent'].astype('float64')
df['Started'] = df['Started'].astype('float64')
df['Completed'] = df['Completed'].astype('float64')
df['instructions_sent']=df['instructions_sent'].astype('float64')

In [26]:
x= df.drop('Percent Score', axis=1)
x = np.array(x)

In [27]:
y = df['Percent Score']*100
y = np.array(y)
y

array([77., 73., 42., 84., 86., 65., 45., 58., 82., 62., 57., 68., 89.,
       65., 67., 61., 65., 81., 68., 64., 76., 66., 76., 79., 55., 73.,
       76., 85., 60., 77., 69., 79., 52., 76., 84., 67., 69., 63., 73.,
       76., 57., 84., 75., 69., 69., 63., 48., 65., 73., 79., 66., 92.,
       54., 74., 71., 81., 81., 58., 48., 88., 80., 75., 74., 79., 61.,
       79., 71., 79., 69.])

In [28]:

model = LinearRegression()

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [30]:
model.fit(x_train, y_train)

LinearRegression()

In [34]:
y_pred = model.predict(x_test)
y_pred

array([76.08430262, 77.26120314, 64.61721901, 86.10903771, 73.83126338,
       67.91165068, 57.14190036, 76.15599008, 69.37174337, 89.07091088,
       79.19418777, 61.94043338, 87.78879258, 65.26019172])

In [33]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)

print('Mean squared error: ', mse)
print('R-squared (The R2 score of our model is): ', r_squared)

Mean squared error:  0.04366268939571129
R-squared (The R2 score of our model is):  0.9995153260960775